{% use '@Front/Structure/atoms.html.twig' %}

{% for pair in comments %}
    <div class="comment" id="{{ pair.comment.id }}" data-is-child="false">
        {{ block('user_comment_contnent') }}
        {% if pair.childs is defined and pair.childs is not empty %}
            <div class="comments">
                {% set comments = pair.childs %}
                {% include '@Builder/Comments/flat.childs.list.comments.html.twig' %}
            </div>
        {% endif %}
    </div>
{% endfor %}