{% use '@Front/Structure/atoms.html.twig' %}

{% if comments|length > 5 %}
    <div data-url="{{ path('comments_load_more_childs',{'fromId':comments[:5]|last.comment.id}) }}">{{ 'Show older'|trans }}</div>
{% endif %}
{% for pair in comments[:5]|reverse %}
    <div class="comment" id="{{ pair.comment.id }}" data-is-child="true">
        {{ block('user_comment_contnent') }}
    </div>
{% endfor %}