{% extends '@Front/default/empty.main.content.twig' %}

{% block main_content %}
    {% for struct in comments %}
        {% set pair = struct %}
        <div class="comment" id="{{ struct.comment.id }}">
            {{ block('user_comment_contnent') }}
            {% if pair.childs is not empty %}
            <div class="comments">
                {% for childStruct in pair.childs|reverse %}
                    {% set pair = childStruct %}
                    <div class="comment"  id="{{ struct.comment.id }}">
                        {{ block('user_comment_contnent') }}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}