{% extends '::base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="ui centered grid">
            <div class="twelve wide column">
                <h3 class="ui header">{{ "Меню"|trans }}</h3>
            </div>
        </div>
    </div>
{% endblock %}